<link href="/css/home.css" rel="stylesheet" type="text/css">
<div id="container">
<a href="./login"><button class="login-hover login">LOGIN</button></a>
<a href="./signup"><button class="sign-hover sign">SIGN UP</button></a>
</div>